@model CapsuleIdentity.Models.Vetement

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Vetement</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="VetementId" />
            <div class="form-group">
                <label asp-for="Nom" class="control-label"></label>
                <input asp-for="Nom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger"></span>

                <label asp-for="Genre" class="control-label"></label>
                <input asp-for="Genre" class="form-control" />
                <span asp-validation-for="Genre" class="text-danger"></span>

                <label asp-for="Couleur" class="control-label"></label>
                <input asp-for="Couleur" class="form-control" />
                <span asp-validation-for="Couleur" class="text-danger"></span>

                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>

                <label asp-for="DateObtention" class="control-label"></label>
                <input asp-for="DateObtention" type="date" class="form-control" />
                <span asp-validation-for="DateObtention" class="text-danger"></span>

                <div>
                    @{
                        // Tableau de valeurs et d'étiquettes pour les boutons radio
                        var values = new int[] { 1, 2, 3, 4, 5 };
                        var labels = new string[] { "★", "★★", "★★★", "★★★★", "★★★★★" };
                    }
                    <label asp-for="Rating" class="control-label"></label>
                    @foreach (var i in Enumerable.Range(0, values.Length))
                    {
                        <label>
                            @Html.RadioButton("rating", values[i], values[i] == Model.Rating, new { @class = "rating-button" })
                            @labels[i]
                        </label>
                    }
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
